@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1rem;
}
:root {
  --avtar_dia: 45px;
  --nav_h: 55px;
  --m_nav_h: 55px;
  --logoSize: 35px;
  --con_max_width: 1150px;
  --nav-link-weight: 500;
  --nav-link-size: 0.9rem;
  --nav-link-icon: 1rem;
  --color-dark: #3c4852;
  --color-light: #627984;
  --text-light: #747373;
  --text-dark: #212529;
  --text-white: #ffffff;
  --subtag-text-light: #a5aec0;
  --bodyBg: #fff;
  /* --bodyBg: #e0e5ec; */
  --sutitle-weight: 400;
  --sutitle-letSpace: 0.5px;
}

body {
  position: relative;
  margin-top: var(--nav_h);
  min-height: 100vh;
  /* background-color: var(--bodyBg); */

  font-family: "Roboto", sans-serif;
}
/* //class presets */
.subContent {
  font-size: 0.9rem;
  font-weight: var(--sutitle-weight);
  font-weight: var(--sutitle-weight);
  color: var(--text-light);
  letter-spacing: var(--sutitle-letSpace);
}
.subTag {
  color: var(--subtag-text-light);
}
.textDark {
  color: var(--color-dark);
}
/* to make logo resized in navbar  */
.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  height: 100%;
  max-height: var(--logoSize);
  width: auto;
}
/* //footer */
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.footer {
  padding: 1rem 0;
}
.footer .footer-site-logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.footer .nav-links li {
  display: inline-block;
}
.footer .nav-links li a {
  padding: 10px;
  color: var(--color-dark);
  font-size: var(--nav-link-size);
  font-weight: var(--nav-link-weight);
}
.footer .nav-links li a:hover {
  color: var(--color-light);
}
.footer .social h3 {
  font-weight: bold;
  font-size: 1.08rem;
  color: #000;
}
.footer .social ul li {
  display: inline-block;
}
.footer .social ul li a {
  display: inline-block;
  padding: 10px;
}
.footer .social ul li.in a {
  color: #df588a;
}
.footer .social ul li.tw a {
  color: #15b8ff;
}
.footer .social ul li.fb a {
  color: #3742d0;
}
.footer .social ul li.ln a {
  color: #0077b5;
}
.footer .social ul li.yt a {
  color: #ff0000;
}
.footer .copyright {
  color: #999999;
}
